@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.nav-wrapper a{
    color: black;
}
.nav-wrapper{
    padding-left: 25px;
}
.brand-logo{
    font-family: 'Grand Hotel', cursive;
}


/* profile page related css started */


/* home style start */
.Profile {
    display: flex;
    /* justify-content: space-around; */
    margin: 18px 0px;
    border-bottom: 1px solid gray;
}
.profile_info{
    margin-left: 120px;
}
.profilePic{
    margin-left: 50px;
}
.profilePic img{
    width: 160px;
    height: 160px;
    border-radius: 80%;
}
.items{
    display: flex;
    justify-content: space-between;
    width: 108%;
   
}

.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .gallary img{
    max-height: 50%;
} */
.gallary-item{
    width: 30%;
    margin-top: 15px;
    padding: 2px;
    /* max-height: 10%; */
}
.profile-container{
    max-width: 950px;
    margin:0px auto;
}

/* profile page related css Ended */

.home-card{
    max-width: 600px;
    height: max-content;
    margin: 26px auto;
}
.home-content{
   margin:15px;
   padding-top: 15px;
   /* height: auto; */
}

.home-content img{
    max-width: 100%;
    /* max-height: 600px; */
}
.post_img img{
    max-width: 100%;
    height: auto;
}
/* home style end */